<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="avp_model">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.325112384314795 -0.0501196108892909 -0.283394234336107"
        rpy="0 0 0" />
      <mass
        value="0.0531975223507682" />
      <inertia
        ixx="5.0643849940132E-05"
        ixy="-1.05612861415327E-06"
        ixz="-1.41697818873433E-06"
        iyy="5.1204926922399E-05"
        iyz="-2.29108365711597E-05"
        izz="3.45494710328934E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://avp_model/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.741176470588235 0.733333333333333 0.725490196078431 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://avp_model/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Yaw_Link">
    <inertial>
      <origin
        xyz="0.0387817092188897 -0.014555591654332 0.00907129877059223"
        rpy="0 0 0" />
      <mass
        value="0.0743767050613524" />
      <inertia
        ixx="1.31447436238562E-05"
        ixy="-3.61044207949233E-07"
        ixz="5.89080580571358E-07"
        iyy="3.77866228512475E-05"
        iyz="2.89886070072247E-06"
        izz="4.12875141791642E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://avp_model/meshes/Yaw_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://avp_model/meshes/Yaw_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Yaw_Link"
    type="fixed">
    <origin
      xyz="0.27999 -0.17008 -0.34728"
      rpy="-2.2154 0.10346 -0.071673" />
    <parent
      link="base_link" />
    <child
      link="Yaw_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Pitch_Link">
    <inertial>
      <origin
        xyz="0.0372013668182159 0.0059557373578632 0.000742361833906913"
        rpy="0 0 0" />
      <mass
        value="0.0466075633602317" />
      <inertia
        ixx="4.09360501139725E-06"
        ixy="-8.99433411814004E-09"
        ixz="2.63603869271789E-08"
        iyy="3.1585626044715E-05"
        iyz="-8.4588848981381E-08"
        izz="3.21678923156926E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://avp_model/meshes/Pitch_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://avp_model/meshes/Pitch_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Pitch_Link"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Yaw_Link" />
    <child
      link="Pitch_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>